<ion-content [fullscreen]="true">
  <div class="gb-pa-4xl">
    <div class="display-lg w700 gb-mb-4xl">GB Input</div>
    <!-- Primary -->
    <div class="display-sm w600">Input</div>
    <div class="text-md">
      Input principal, por defecto obtiene el color primario del banco.
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input [(value)]="input1" placeholder="Type here" label="Input label"/>
            </ion-col>
            <ion-col>
              <pre><code [highlight]="primary" language="html"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Type -->
    <div class="display-sm w600">Input type</div>
    <div class="text-md">Indica el tipo de input.</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input [(value)]="input1" placeholder="Type text (default)" />
              <br />
              <gb-input
                [(value)]="input1"
                placeholder="Type password"
                [passwordToggle]="true"
                type="password" />
              <br />
              <gb-input
                [(value)]="input1"
                placeholder="Type email (for mobile)"
                type="email" />
              <br />
              <gb-input
                [(value)]="input1"
                placeholder="Type number"
                type="number" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="type" language="html"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
    <!-- Disabled -->
    <div class="display-sm w600">Input disabled</div>
    <div class="text-md">Input deshabilitado.</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input
                [(value)]="input1"
                placeholder="Type here"
                [disabled]="true" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="disabled" language="html"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
    <!-- Colors -->
    <div class="display-sm w600">Input colors</div>
    <div class="text-md">Indica el color del input.</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input
                [(value)]="input1"
                placeholder="Type here"
                color="blue" />
              <br />
              <gb-input
                [(value)]="input1"
                placeholder="Type here"
                color="pink" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="colors" language="html"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
    <!-- Icon -->
    <div class="display-sm w600">Input icon</div>
    <div class="text-md">Asigna un icono al inicio del input</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input
                [(value)]="input1"
                placeholder="Type here"
                icon="person-outline" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="icon" language="html"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
    <!-- Validation -->
    <div class="display-sm w600">Input validation</div>
    <div class="text-md">
      Valida el valor ingresado en el input segun regex o min y max.
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input
                [(value)]="input1"
                placeholder="Type here"
                regex="^[A-Za-z0-9]{6,}$" />
              <br />
              <gb-input
                [(value)]="input1"
                placeholder="Type here"
                type="number"
                [min]="1"
                [max]="10" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="validation" language="html"></code></pre>
              <pre><code [highlight]="minmax" language="html"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
    <!-- Required -->
    <div class="display-sm w600">Input required</div>
    <div class="text-md">
      Si el input es clickeado, se valida que este tenga un valor.
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input
                [(value)]="input1"
                placeholder="Type here"
                [required]="true" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="required" language="html"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
  </div>
</ion-content>
