<ion-content [fullscreen]="true">
  <div class="gb-pa-4xl">
    <!-- Generic -->
    <div class="display-lg w700 gb-mb-4xl">GB Modals</div>
    <div class="display-sm w600">Generic modal</div>
    <div class="text-md">Modal generico del app</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-btn label="Open modal" (click)="openModal()" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="generic" language="typescript"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Custom -->
    <div class="display-sm w600">Custom modal</div>
    <div class="text-md">Modal con contenido personalizado</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-btn label="Open modal" (click)="openCustomModal()" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="custom" language="typescript"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Fullscreen -->
    <div class="display-sm w600">Fullscreen modal</div>
    <div class="text-md">
      Modal en pantalla completa
      <span class="text-gb-error-500 w700">(mobile only)</span>
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-btn label="Open modal" (click)="openFullScreenModal()" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="fullscreen" language="typescript"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Card -->
    <div class="display-sm w600">Card modal</div>
    <div class="text-md">
      Modal en modo card
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-btn label="Open modal" (click)="openCardModal()" />
            </ion-col>
            <ion-col>
              <pre><code [highlight]="card" language="typescript"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
  </div>
</ion-content>
