<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <div class="gb-pa-4xl">
      <div class="gb-pa-4xl">
        <div class="display-lg w700 gb-mb-4xl">GB Typography</div>
      </div>
      <!-- Sizes -->
      <div class="display-sm w600">Sizes</div>
      <div class="text-md">Tamaños de los textos</div>
      <div class="gb-py-2xl gb-px-md">
        <div
          class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
          <div class="text-center sm:p-9 md:p-7 xl:p-9">
            <ion-row>
              <ion-col style="text-align: left">
                <div class="text-2xs">Lorem ipsum.</div>
                <div class="text-xs">Lorem ipsum.</div>
                <div class="text-sm">Lorem ipsum.</div>
                <div class="text-md">Lorem ipsum.</div>
                <div class="text-lg">Lorem ipsum.</div>
                <div class="text-xl">Lorem ipsum.</div>
                <div class="display-xs">Lorem ipsum.</div>
                <div class="display-sm">Lorem ipsum.</div>
                <div class="display-md">Lorem ipsum.</div>
                <div class="display-lg">Lorem ipsum.</div>
                <div class="display-xl">Lorem ipsum.</div>
                <div class="display-2xl">Lorem ipsum.</div>
                <div class="display-3xl">Lorem ipsum.</div>
                <div class="display-4xl">Lorem ipsum.</div>
              </ion-col>
              <ion-col>
                <pre><code [highlight]="sizes" language="html"></code></pre>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <!--/-->
      <!-- Sizes -->
      <div class="display-sm w600">Weights</div>
      <div class="text-md">Pesos de los textos</div>
      <div class="gb-py-2xl gb-px-md">
        <div
          class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3 dark:shadow-card dark:hover:shadow-3">
          <div class="text-center sm:p-9 md:p-7 xl:p-9">
            <ion-row>
              <ion-col style="text-align: left">
                <div class="text-lg w300">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-lg w400">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-lg w500">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-lg w600">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="text-lg w700">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
              </ion-col>
              <ion-col>
                <pre><code [highlight]="weights" language="html"></code></pre>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <!--/-->
    </div>
  </ion-content>
</ion-content>
