<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 10px">
    <ion-list>
      <ion-item>
        <ion-input
          label="User"
          type="email"
          placeholder="test@email.com"
          [(ngModel)]="user">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Password"
          placeholder="Password"
          type="password"
          [(ngModel)]="pass">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      color="gb-pink-300"
      (click)="login()"
      expand="block"
      [disabled]="isValidUserAndPass()">
      Login
    </ion-button>
    <br />
    <div class="bg-gb-blue-300 gb-pa-md gb-rounded-border-md shadow-3xl">
      <div class="text-md text-gb-blue-800 w700">Color test</div>
    </div>
  </div>
  <br />
</ion-content>
