<ion-content [fullscreen]="true">
  <div class="gb-pa-4xl">
    <div class="display-lg w700 gb-mb-4xl">GB Toast</div>
    <!-- Default -->
    <div class="display-sm w600">Toast default</div>
    <div class="text-md">
      Toast por defecto.
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-btn label="Open" (click)="openGenericToast()"/>
            </ion-col>
            <ion-col>
              <pre><code [highlight]="default" language="typescript"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Color -->
    <div class="display-sm w600">Toast types</div>
    <div class="text-md">
      Definir el tipo del toast
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-btn label="Default" (click)="openToastWithColor('default')"/>
              <gb-btn label="Success" color="success" (click)="openToastWithColor('success')"/>
              <gb-btn label="Warning" color="warning" (click)="openToastWithColor('warning')"/>
              <gb-btn label="Error" color="error" (click)="openToastWithColor('error')"/>
            </ion-col>
            <ion-col>
              <pre><code [highlight]="colors" language="typescript"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Icon -->
    <div class="display-sm w600">Toast custom</div>
    <div class="text-md">
      Definir propiedades personalizadas para el toast
    </div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-btn label="Open" (click)="openCustomToast()"/>
            </ion-col>
            <ion-col>
              <pre><code [highlight]="custom" language="typescript"></code></pre>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->
    </div>
</ion-content>
