@use 'sass:color';

// BLUES
$gb-blue-25: #fafcff;
$gb-blue-50: #f0f6ff;
$gb-blue-100: #e0ecff;
$gb-blue-200: #b8d3ff;
$gb-blue-300: #85b4ff;
$gb-blue-400: #3d87ff;
$gb-blue-500: #0047ba;
$gb-blue-600: #003d9e;
$gb-blue-700: #003994;
$gb-blue-800: #002b70;
$gb-blue-900: #00235c;
$gb-blue-950: #00173d;

// PINKS
$gb-pink-25: #fef5fc;
$gb-pink-50: #fef1fb;
$gb-pink-100: #fde7f8;
$gb-pink-200: #fbcbf0;
$gb-pink-300: #f9aae6;
$gb-pink-400: #f57fda;
$gb-pink-500: #ef2ac1;
$gb-pink-600: #df11af;
$gb-pink-700: #c20f99;
$gb-pink-800: #a60c82;
$gb-pink-900: #77095d;
$gb-pink-950: #4c0630;

$gb-colors: (
  no-color: transparent,
  //
  gb-blue-25: $gb-blue-25,
  gb-blue-50: $gb-blue-50,
  gb-blue-100: $gb-blue-100,
  gb-blue-200: $gb-blue-200,
  gb-blue-300: $gb-blue-300,
  gb-blue-400: $gb-blue-400,
  gb-blue-500: $gb-blue-500,
  gb-blue-600: $gb-blue-600,
  gb-blue-700: $gb-blue-700,
  gb-blue-800: $gb-blue-800,
  gb-blue-900: $gb-blue-900,
  gb-blue-950: $gb-blue-950,
  //
  gb-pink-50: $gb-pink-50,
  gb-pink-25: $gb-pink-25,
  gb-pink-100: $gb-pink-100,
  gb-pink-200: $gb-pink-200,
  gb-pink-300: $gb-pink-300,
  gb-pink-400: $gb-pink-400,
  gb-pink-500: $gb-pink-500,
  gb-pink-600: $gb-pink-600,
  gb-pink-700: $gb-pink-700,
  gb-pink-800: $gb-pink-800,
  gb-pink-900: $gb-pink-900,
  gb-pink-950: $gb-pink-950,
);

:root {
  @each $name, $color in $gb-colors {
    $r: color.channel($color, 'red');
    $g: color.channel($color, 'green');
    $b: color.channel($color, 'blue');
    --ion-color-#{$name}: #{$color};
    --ion-color-new-rgb-#{$name}: #{$r}, #{$g}, #{$b};
  }
}

@each $name, $color in $gb-colors {
  // IONIC COLORS
  .ion-color-#{$name} {
    --ion-color-base: var(--ion-color-#{$name});
    --ion-color-base-rgb: var(--ion-color-new-rgb-#{$name});
  }
  // TAILGRID COLORS
  .text-#{$name},
  .hover\:text-#{$name}:hover,
  .active\:text-#{$name}:active,
  .focus\:text-#{$name}:focus {
    color: $color;
  }
  .bg-#{$name},
  .hover\:bg-#{$name}:hover,
  .active\:bg-#{$name}:active,
  .focus\:bg-#{$name}:focus {
    background-color: $color;
  }
  .border-#{$name},
  .hover\:border-#{$name}:hover,
  .active\:border-#{$name}:active,
  .focus\:border-#{$name}:focus {
    border: solid 1px;
    border-color: $color;
  }
  .fill-#{$name} {
    fill: $color;
    stroke: $color;
  }
  // DISABLED
  .disabled\:bg-#{$name}:disabled {
    background-color: $color !important;
    border-color: $color !important;
  }
  .disabled\:border-#{$name}:disabled {
    border: solid 1px !important;
    border-color: $color !important;
  }
  .disabled\:text-#{$name}:disabled {
    color: $color !important;
  }
  // TOGGLE
  .themeSwitcherTwo input:checked ~ .slider\:bg-#{$name} {
    background-color: $color;
  }
  // CHECKBOX
  input:checked ~ .box\:border-#{$name} {
    border-color: $color !important;
  }
}
