@use 'sass:color';

// BLUES
$gb-blue-25: #FAFCFF;
$gb-blue-50: #F0F6FF;
$gb-blue-100: #E0ECFF;
$gb-blue-200: #B8D3FF;
$gb-blue-300: #85B4FF;
$gb-blue-400: #3D87FF;
$gb-blue-500: #0047BA;
$gb-blue-600: #003D9E;
$gb-blue-700: #003994;
$gb-blue-800: #002B70;
$gb-blue-900: #00235C;
$gb-blue-950: #00173D;

// PINKS
$gb-pink-25: #FEF5Fc;
$gb-pink-50: #FEF1Fb;
$gb-pink-100: #FDE7F8;
$gb-pink-200: #FBCBF0;
$gb-pink-300: #F9AAE6;
$gb-pink-400: #F57FDA;
$gb-pink-500: #EF2AC1;
$gb-pink-600: #DF11AF;
$gb-pink-700: #C20F99;
$gb-pink-800: #A60C82;
$gb-pink-900: #77095D;
$gb-pink-950: #4C0630;

$gb-colors: (
  gb-blue-25: $gb-blue-25,
  gb-blue-50: $gb-blue-50,
  gb-blue-100: $gb-blue-100,
  gb-blue-200: $gb-blue-200,
  gb-blue-300: $gb-blue-300,
  gb-blue-400: $gb-blue-400,
  gb-blue-500: $gb-blue-500,
  gb-blue-600: $gb-blue-600,
  gb-blue-700: $gb-blue-700,
  gb-blue-800: $gb-blue-800,
  gb-blue-900: $gb-blue-900,
  gb-blue-950: $gb-blue-950,
  // 
  gb-pink-50: $gb-pink-50,
  gb-pink-25: $gb-pink-25,
  gb-pink-100: $gb-pink-100,
  gb-pink-200: $gb-pink-200,
  gb-pink-300: $gb-pink-300,
  gb-pink-400: $gb-pink-400,
  gb-pink-500: $gb-pink-500,
  gb-pink-600: $gb-pink-600,
  gb-pink-700: $gb-pink-700,
  gb-pink-800: $gb-pink-800,
  gb-pink-900: $gb-pink-900,
  gb-pink-950: $gb-pink-950,
);

:root {
  @each $name, $color in $gb-colors {
    $r: color.channel($color, "red");
    $g: color.channel($color, "green");
    $b: color.channel($color, "blue");
    --ion-color-#{$name}: #{$color};
    --ion-color-new-rgb-#{$name}: #{$r}, #{$g}, #{$b};
  }
}

@each $name, $color in $gb-colors {
  .text-#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
  .ion-color-#{$name} {
    --ion-color-base: var(--ion-color-#{$name});
    --ion-color-base-rgb: var(--ion-color-new-rgb-#{$name});
  }
}



