<div class="wrapper">
  <!-- THIS SHOWS A WARNING IF CALLED AS A VARIABLE OR AN ERROR IF CALLED AS A FUNCTION (SIGNAL)  -->
  <!-- <p>{{ bodyText() }}</p> -->
  <!-- FIX: HAD TO CALL IT FROM A COMPUTED -->
  <p>{{ showText() }}</p>
  <ion-button
    expand="block"
    fill="outline"
    color="tertiary"
    (click)="closeModal('accept')"
  >
    Accept
  </ion-button>
  <ion-button
    expand="block"
    fill="outline"
    color="danger"
    (click)="closeModal()"
  >
    Cancel
  </ion-button>
</div>
