<ion-content [fullscreen]="true">
  <div class="gb-pa-4xl">
    <div class="display-lg w700 gb-mb-4xl">Forms</div>
    <!-- Form -->
    <div class="text-md">Manejo de forms con validacion.</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input
                placeholder="User"
                [(value)]="formData.user.value"
                [regex]="formData.user.validator"
                [required]="true"
                icon="person-outline" />
              <br />
              <gb-input
                placeholder="Password"
                [(value)]="formData.pass.value"
                [regex]="formData.pass.validator"
                icon="lock-closed-outline"
                [required]="true"
                type="password"
                [passwordToggle]="true" />
              <br />
              <gb-input
                placeholder="Age"
                [(value)]="formData.age.value"
                type="number"
                [required]="true"
                [min]="formData.age.min"
                [max]="formData.age.max" />
              <br />
              <gb-select
                placeholder="Select gender"
                [(value)]="formData.gender.value"
                [options]="options"
                [required]="true" />
              <br />
              <gb-checkbox
                name="checkbox_1"
                [(value)]="formData.accept.value"
                label="Accept terms" />
              <br />
              <gb-btn
                label="Register"
                (click)="submitLogin()"
                [disabled]="!isFormValid()" />
            </ion-col>
            <ion-col> </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Snippets -->
    <ion-row>
      <ion-col>
        <div
          class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
          <div class="sm:p-9 md:p-7 xl:p-9">
            <pre><code [highlight]="html" language="html"></code></pre>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div
          class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
          <div class="sm:p-9 md:p-7 xl:p-9">
            <pre><code [highlight]="ts" language="typescript"></code></pre>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--/-->
  </div>
</ion-content>
