<ion-content [fullscreen]="true">
  <div class="gb-pa-4xl">
    <div class="display-lg w700 gb-mb-4xl">Forms</div>
    <!-- Form -->
    <div class="text-md">Manejo de forms con validacion.</div>
    <div class="gb-py-2xl gb-px-md">
      <div
        class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
        <div class="sm:p-9 md:p-7 xl:p-9">
          <ion-row>
            <ion-col>
              <gb-input
                placeholder="User"
                [(value)]="registrationForm.user.value"
                [regex]="registrationForm.user.validator()"
                [required]="true"
                icon="person-outline"
                [forceError]="registrationForm.user.forceError"
                (click)="cleanForceError()" />

              <gb-input
                placeholder="Password"
                [(value)]="registrationForm.pass.value"
                [regex]="registrationForm.pass.validator()"
                icon="lock-closed-outline"
                [required]="true"
                type="password"
                [passwordToggle]="true"
                [regexMessages]="regexMessages" />

              <gb-input
                placeholder="Re Password"
                [(value)]="registrationForm.repass.value"
                [regex]="registrationForm.repass.validator()"
                icon="lock-closed-outline"
                [required]="true"
                type="password"
                errHint="Passwords do not match."
                [passwordToggle]="true" />

              <gb-input
                placeholder="Age"
                [(value)]="registrationForm.age.value"
                type="number"
                [required]="true"
                [min]="registrationForm.age.min"
                [max]="registrationForm.age.max" />

              <gb-select
                placeholder="Select gender"
                [(value)]="registrationForm.gender.value"
                [options]="options"
                [required]="true" />
              <br />
              <gb-checkbox
                name="checkbox_1"
                [(value)]="registrationForm.accept.value"
                label="Accept terms"
                identity="asdf" />
              <br />
              <gb-btn
                label="Register"
                (click)="submitRegistration()"
                [disabled]="!isRegisterFormValid() || isLoading()"
                [spinner]="isLoading() ? 'lines' : null" />
            </ion-col>
            <ion-col>
              <gb-select
                placeholder="Select question 1"
                [(value)]="questionsFormData.qSelect1.value"
                [options]="setQuestionsOptions(questionsFormData.qSelect1.value())"
                [required]="true" />
              <gb-input
                placeholder="Question 1"
                [(value)]="formData.question1.value"
                [regex]="formData.question1.validator()"
                [errHint]="formData.question1.errHint()"
                [required]="true" />
              <br />
              <gb-select
                placeholder="Select question 2"
                [(value)]="questionsFormData.qSelect2.value"
                [options]="setQuestionsOptions(questionsFormData.qSelect2.value())"
                [required]="true" />
              <gb-input
                placeholder="Question 2"
                [(value)]="formData.question2.value"
                [regex]="formData.question2.validator()"
                [errHint]="formData.question2.errHint()"
                [required]="true" />
              <br />
              <gb-select
                placeholder="Select question 3"
                [(value)]="questionsFormData.qSelect3.value"
                [options]="setQuestionsOptions(questionsFormData.qSelect3.value())"
                [required]="true" />
              <gb-input
                placeholder="Question 3"
                [(value)]="formData.question3.value"
                [regex]="formData.question3.validator()"
                [errHint]="formData.question3.errHint()"
                [required]="true" />
              <br />
              <gb-select
                placeholder="Select question 4"
                [(value)]="questionsFormData.qSelect4.value"
                [options]="setQuestionsOptions(questionsFormData.qSelect4.value())"
                [required]="true" />
              <gb-input
                placeholder="Question 4"
                [(value)]="formData.question4.value"
                [regex]="formData.question4.validator()"
                [errHint]="formData.question4.errHint()"
                [required]="true" />
              <br />
              <gb-select
                placeholder="Select question 5"
                [(value)]="questionsFormData.qSelect5.value"
                [options]="setQuestionsOptions(questionsFormData.qSelect5.value())"
                [required]="true" />
              <gb-input
                placeholder="Question 5"
                [(value)]="formData.question5.value"
                [regex]="formData.question5.validator()"
                [errHint]="formData.question5.errHint()"
                [required]="true" />
              <br />
              <gb-btn
                label="Send"
                (click)="submitQuestions()"
                [disabled]="!isFormValid() || !isQuestionsFormValid()" />
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- Snippets -->
    <ion-row>
      <ion-col>
        <div
          class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
          <div class="sm:p-9 md:p-7 xl:p-9">
            <pre><code [highlight]="html" language="html"></code></pre>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div
          class="overflow-hidden duration-300 bg-white rounded-lg dark:bg-dark-2 shadow-1 hover:shadow-3">
          <div class="sm:p-9 md:p-7 xl:p-9">
            <pre><code [highlight]="ts" language="typescript"></code></pre>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!--/-->
  </div>
</ion-content>
